<div class="login-form">
  <div class="form-header">
    <h2>Inicia sesión</h2>
  </div>
  <div class="form-body">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginForm()">
      <div class="field">
        <input type="text" name="email" class="input" formControlName="username"/>
      </div>

      <div class="field">
        <input type="password" name="password" class="input" formControlName="password"/>
      </div>

      <ng-container *ngIf="loginError$ | async as errorMessage">
        <p class="error-form">{{ errorMessage }}</p>
      </ng-container>

      <ng-container *ngIf="invalidForm">
        <p class="error-form">{{ invalidForm }}</p>
      </ng-container>

      <button type="submit" class="button">Login</button>
    </form>
  </div>
</div>
